# Go
bin/
*.zip

# Terraform
infra/terraform/.terraform/
infra/terraform/.terraform.lock.hcl
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.backup
infra/terraform/*.tfvars
!infra/terraform/terraform.tfvars.example
infra/terraform/crash.log

# Local dev
.env
